asttokens==3.0.0
black==25.1.0
blinker==1.9.0
click==8.2.1
decorator==5.2.1
executing==2.2.0
Flask==3.1.1
iniconfig==2.1.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mypy_extensions==1.1.0
packaging==25.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.8
pluggy==1.6.0
prompt_toolkit==3.0.51
psycopg==3.2.9
psycopg-binary==3.2.9
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pytest==8.4.1
ruff==0.12.3
SQLAlchemy==2.0.41
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.14.1
wcwidth==0.2.13
Werkzeug==3.1.3
